.listado-mesas{}
.listado-mesas a {text-align: center; display: block;  width: 100%; padding: 15px 15px;  border-radius: 10px; margin:5px 0px;}
.listado-mesas a i.fa-table { font-size: 40px; color: #fff; vertical-align: middle; margin-right: 10px; text-align: left;}
.listado-mesas a span{ display: inline-block; vertical-align: middle; color: #fff; font-weight: 700; font-size: 18px;}}
.listado-productos ul {list-style: none; padding: 10px 0px;}
.listado-productos ul li input[type=checkbox] { vertical-align: middle; margin-right: 10px;}
.listado-productos .tab-content .tab-pane {box-shadow: 1px 1px 1px 1px rgba(167, 154, 154, 0.5); padding: 5px 10px;}
.listado-productos .tab-content .tab-pane ul {  list-style: none; padding: 10px 0px; width: 100%;}
.listado-productos .tab-content .tab-pane ul li{ border-bottom: solid 2px #3c8dbc; padding: 5px; width: 100%; margin-bottom: 5px;}
.listado-productos .tab-content .tab-pane ul li input[type=checkbox] { vertical-align: middle; margin: 0px; margin-right: 10px;}
.listado-productos .tab-content .tab-pane ul li span.descripcion {display: inline-block; vertical-align: middle; padding: 5px;}
.listado-productos .tab-content .tab-pane ul li span.stock {    display: inline-block; float: right; vertical-align: middle;  padding: 5px; background: #ccc; color: #fff;}