.listado-mesas{}
.listado-mesas a {text-align: center; display: block;  width: 100%; padding: 15px 15px;  border-radius: 10px; margin:5px 0px;}
.listado-mesas a i.fa-table { font-size: 40px; color: #fff; vertical-align: middle; margin-right: 10px; text-align: left;}
 .listado-mesas a span{ display: inline-block; vertical-align: middle; color: #fff; font-weight: 700; font-size: 18px;}}
